* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
  background-color: #f0f0f0;
  margin-top: 50px;
}

.container {
  width: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.container h2 {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 14px;
}

.record {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  height: 42px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  background-color: rgb(85, 119, 17);
  outline: none;
}

#search {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#search:focus {
  border-color: transparent;
  outline: 1px solid rgb(85, 119, 17);
}

.tasks li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.tasks li:last-child {
  border-bottom: none;
}

.tasks li input {
  margin-right: 5px;
}

.delete-task {
  border: none;
  border-radius: 5px;
  padding: 7px 10px;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  background-color: #a12a2a;
  transition: 0.4s opacity;
}

.delete-task:hover {
  opacity: 0.8;
}

.recording {
  animation: record 0.5s linear alternate infinite;
}

p {
  font-size: 14px;
  color: #818181;
}

.hide {
  display: none;
}

@keyframes record {
  to {
    background-color: rgb(85, 119, 17);
  }

  from {
    background-color: rgb(135, 174, 56)
  }
}